.bookpage {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 26px;
  color: black;
  margin-top: 10%;

}

.leftside {
  flex: 1;
  max-width: 300px;
 
}
.content{
  
  margin-top: 20%;
  font-size: 10px;
}

.rightside  {
  flex: 1;
  padding: 0 20px;
  margin-top: 5%;
  font-size: 22px;
}
.rightside h2 {
color: black;
font-weight: bold;
}

.contimg {
  overflow: hidden;
}

.img img {
  width: 100%;
  height: auto;
  border-radius: 26px;

}

h2 {
  color: #000;
  margin: 10px 0;
}

.buttons button {
  padding-top:3%;
  padding-bottom: 3%;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10%;
  width: 25%;
  border-radius: 26px;
  background-color: black;
  color: white;
}

.rate{

  margin-top: 5%;
}

.comment{

  margin-left: 30%;

}

@media screen and (max-width: 768px) {
  .bookpage {
    flex-direction: column;
  }
  
  .rightside {
    order: -1;
  }
}
